/* Status.CSS for Linux-PoolManager

Theme: Coolblue


   Updated: 2014-Mar-02

COLORS
bg: 2c3e50
headerbg: 2c3e50
border: 3498db
text: dddddd
brighttext: 3498db
highlight: 2980b9


-------------------------------------*/
/* all text on the page */
body, a { 
	background-color: #2c3e50;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #dddddd;
	position: relative;
	display: block;
	z-index: 1;
}

/* overview - header area */


#overview {
	font-size: 16px;
	color: #3498db;
}
#overview .miner-name, td.overviewid, td.overviewhash {
	color: #2980b9;
	font-size: 24px;
}
#overview .label {
color: #2c3e50;
}
#overview img {
	padding-top: 3px;
}

#overview td {
	color: #3498db;
	padding: 0 30px 0 10px;
	font-weight: 300;
}

.logo {
    display: block;
    height: 63px;
    width: 155px;
}
.logo a {
    background-image: url("/IFMI/IFMI-logo-small.png");
    display: block;
    height: 63px;
    width: 155px;
}
.reset-btn {
    background: none repeat scroll 0 0 #3498db;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

/* hyperlinks */
a {
	color: #3498db;
}

a:hover {
	color: #dddddd;
}

/* the main table area */
#content {
	padding: 20px;
	vertical-align: top;
	text-align: center;
	display: block;
}

#content td {
	border: 1px solid #3498db;
	padding: 5px;
}

/* table headers */
#content td.header {
	color: #dddddd;
	background-color: #3498db;
	font-weight: bold;
}

/* errors */
#content td.error {
	color: #ffffff;
	background-color: #ff0000;
	font-weight: bold;
}

/* buttons and text boxes */
input, button {
	color: #3498db;
	background-color: #2d3f52;
	border: 1px solid #ccc;
}

/* FARMVIEW SPECIFIC CSS */

/* waiting view when no data available */

#waiting {
    background-color: #F5F5D7;
    margin: 30px;
    padding: 30px;
    position: absolute;
    top: 120px;
}

/* the main table area */
#content td.space {
	border: 0px;
}

/* need to add farm class to outer table in #content in farmview */

#content.farm table {
	text-align: center;
    border: 0 none;
}
#content td.locsum {
    background-color: #3498DB;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
#content td.node {
    border: 0 none;
    padding: 20px;
}
#content td.sumhdr {
    background-color: #3498DB;
    font-size: 14px;
    font-weight: bold;
}
#content tr.sumdata {
    font-size: 13px;
}
#content td.refreshtime {
    background-color: #3498DB;
    font-size: 16px;
}
#content.farm td.header {
	text-align: center;
	padding: 2px 5px;
}

#content.farm td {
	padding: 5px;
}


