body
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
font-family: "Trebuchet MS", Helvetica, sans-serif;
notfont-family: Tahoma, Geneva, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
margin: 0px;
padding: 0px;
}

#waiting
{
 background-color: rgb(245,245,215);
 padding: 30px;
 margin: 30px;
 position: absolute;
 top: 120px;
}


#content
{
 background-color: rgb(255,255,255);
 padding: 10px;
 margin: 0px;
 position: relative;
 display: block;
}

a
{
 color: #000000;
}

#content table
{
	border: 0px;
	border-collapse:collapse;
}


#content td
{
	background-color: rgb(255,255,255);
	padding: 5px;
	vertical-align: top;
}

#content td.locsum
{
	background-color: rgb(198,226,255);
	border: 0px;
	padding: 5px;
	vertical-align: top;
	font-size: 16px;
        font-weight: bold;	
}

#content td.node
{
	background-color: rgb(255,255,255);
	border: 0px;
	padding: 20px;
	vertical-align: top;
}


#content td.gpudata
{
	background-color: rgb(255,255,255);
	border: 0px;
	padding: 5px;
	vertical-align: top;
}

#content td.sumdata
{
	background-color: rgb(224,255,255);
	padding: 5px;
        font-weight: bold;
        font-size: 14px;
}

#content td.refreshtime
{
	background-color: rgb(255,255,240);
	padding: 5px;
        font-size: 16px;
}

.gpudata
{
	vertical-align: top;
	padding: 0px;
}

.gpudata table
{
	border-collapse:collapse;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

.gpudata td
{
	padding: 0px;
	padding-left: 10px;
	border: 1px solid #bbbbbb;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
        text-align: center;
}

#content td.ghdr
{
	vertical-align: top;
	color: rgb(255,255,255);
	background-color: rgb(80,80,80);	
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
        font-weight: bold;	
}

#content td.error
{
	color: rgb(255,255,255);
        background-color: rgb(200,0,0);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
#	font-weight: bold;	
}

#content td.blank
{
	background-color: rgb(200,200,200);
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 1px;
}

#content td.space
{
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 2px;
}

#overview
{
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	color: rgb(255,255,255);
	 z-index: 1;
	
	
  /* Safari 4-5, Chrome 1-9 */
#  background: -webkit-gradient(linear, top, bottom, from(#101010), to(#606060));
  background: -webkit-gradient(linear, top, bottom, from(#0000CC), to(#3366FF));
  
  /* Safari 5.1+, Chrome 10+ */
#  background: -webkit-linear-gradient(top, #101010, #606060);
  background: -webkit-linear-gradient(top, #0000CC, #3366FF);
  
  /* Firefox 3.6+ */
#  background: -moz-linear-gradient(top, #101010, #606060);
  background: -moz-linear-gradient(top, #0000CC, #3366FF);
  
  /* IE 10 */
#  background: -ms-linear-gradient(top, #101010, #606060);
  background: -ms-linear-gradient(top, #0000CC, #3366FF);
  
  /* Opera 11.10+ */
#  background: -o-linear-gradient(top, #101010, #606060);
  background: -o-linear-gradient(top, #0000CC, #3366FF);
  
  background-color: #222222;	
}

#overview table {
	padding: 10px 5px 5px 5px;
}
}

#overview img
{
	padding-top: 3px;
}

#overview td
{
	padding-right: 30px;
	vertical-align: top;
	text-wrap: none;
#        font-size: 14px;	
	color: rgb(255,255,255);
	
}


#overview td.overviewhash
{
	vertical-align: middle;
	text-wrap:none;
        font-size: 30px;
}


h
